<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="header(activeTab)">
        <a class="navbar-brand" th:href="@{/}">DentistApp</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" th:href="@{/}"
               th:classappend="${activeTab == 'form' ? 'active' : ''}"
               th:text="#{registration.link}"></a>
            <a class="nav-item nav-link" href="#" th:href="@{/visits}"
               th:classappend="${activeTab == 'visits' ? 'active' : ''}"
               th:text="#{visits.link}"></a>
        </div>
    </nav>
</body>
</html>