<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <title>DentistApp</title>-->
<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.js"></script>-->
<!--    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<!--    <script type="text/javascript" src="js/lib/datepicker-et.js"></script>-->
<!--    <script src="js/lib/jquery-timepicker.js"></script>-->
<!--    <link rel="stylesheet" href="css/style.css"/>-->
<!--    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"/>-->
<!--    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"/>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<head th:replace="fragments/head :: head"></head>
<script>
    $(document).ready(function () {
        $(function () {
            $("#dentistDatePicker").datepicker(
                {
                    minDate: 0,
                    maxDate: 365
                }
            );
        });
        $(function () {
            $("#dentistTimePicker").timepicker(
                {
                    timeFormat: 'HH:mm',
                    interval: 30,
                    minTime: '8',
                    maxTime: '18',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                }
            );
        });
    });
</script>
<body>
<div th:replace="fragments/header :: header(form)"></div>
<div class="container">
    <form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
        <table>
            <tr>
                <td><p th:text="#{dentist.name}">dentist.name</p></td>
                <!--            <td><input type="text" th:field="*{dentistName}"/></td>-->
                <td>
                    <label>
                        <select id="dentistId" name="dentistId">
                            <option th:selected="(*{dentistId == null})" disabled="disabled" value="0">---</option>
                            <option th:each="dentist : ${dentists}" th:value="${dentist.id}"
                                    th:text="${dentist.name}" th:selected="(${dentist.id} == *{dentistId})"></option>
                        </select>
                    </label>
                </td>
                <td th:if="${#fields.hasErrors('dentistId')}" th:errors="*{dentistId}" style="color:red">name.error</td>
            </tr>
            <tr>
                <td><p th:text="#{visit.date}">visit.date</p></td>
                <td><input id="dentistDatePicker" type="text" autocomplete="off" th:field="*{visitDate}" readonly="readonly"/></td>
                <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}" style="color:red">date.error</td>
            </tr>
            <tr>
                <td><p th:text="#{visit.time}">visit.time</p></td>
                <td><input id="dentistTimePicker" type="text" autocomplete="off" th:field="*{visitTime}" readonly="readonly"/></td>
                <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}" style="color:red">time.error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" th:text="#{register.visit}"></button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>