<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<script src="js/src/visits.js"></script>
<body>
<div th:replace="fragments/header :: header(visits)"></div>
<div id="content" class="container">
    <a class="btn btn-primary" data-toggle="collapse" href="#filterContainer" th:text="#{visits.filter}"
       role="button"></a>
    <table id="filterContainer" class="table collapse">
        <tr>
            <td>
                <label for="dentistFilter" th:text="#{dentist.name}">Dentist</label>
                <div id="dentistFilter"></div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label for="minDatePicker" th:text="#{visits.minDate}">Min Date</label>
                <input id="minDatePicker" class="form-control" type="text" autocomplete="off" readonly="readonly"/>
            </td>
            <td>
                <label for="minTimePicker" th:text="#{visits.minTime}">Min Time</label>
                <input id="minTimePicker" class="form-control" type="text" autocomplete="off" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="maxDatePicker" th:text="#{visits.maxDate}">Max Date</label>
                <input id="maxDatePicker" class="form-control" type="text" autocomplete="off" readonly="readonly"/>
            </td>
            <td>
                <label for="maxTimePicker" th:text="#{visits.maxTime}">Max Time</label>
                <input id="maxTimePicker" class="form-control" type="text" autocomplete="off" readonly="readonly"/>
            </td>
        </tr>
    </table>
    <table id="visitsTable" class="table">
        <thead>
        <tr>
            <th th:text="#{visit.date}"></th>
            <th th:text="#{visit.time}"></th>
            <th th:text="#{dentist.name}"></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="dentistVisit: ${dentistVisits}">
            <td th:text="${#temporals.format(dentistVisit.visitDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${dentistVisit.visitTime}"></td>
            <td th:text="${dentistVisit.dentist.name}"></td>
            <td>
                <form th:action="@{'/{id}'(id = ${dentistVisit.id})}" th:method="get">
                    <button type="submit" value="Submit" class="btn btn-primary" th:text="#{visits.edit}"></button>
                </form>
            </td>
            <td>
                <!--                <a th:href="@{/visits/${dentistVisit.id}}" class="btn btn-danger">Delete</a>-->
                <form th:action="@{'/{id}'(id = ${dentistVisit.id})}" th:method="delete">
                    <button type="submit" value="Submit" class="btn btn-danger" th:text="#{visits.delete}"></button>
                </form>
            </td>
            <!--            <td><button type="submit" class="btn btn-danger" th:action="@{/visits/${dentistVisit.id}}" th:method="delete" th:text="#{visits.delete}"></button></td>-->
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>